<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.uet.teamduan.musicplayer">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
            android:allowBackup="true"
            android:icon="@drawable/icon_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:largeHeap="true"
    >
        <activity android:name="com.uet.teamduan.musicplayer.screens.SongSelectActivity"/>

        <service android:name="com.uet.teamduan.musicplayer.services.MusicPlayerService"/>

        <receiver android:name="com.uet.teamduan.musicplayer.services.notifications.NotificationDismissReceiver"/>

        <activity
                android:name="com.uet.teamduan.musicplayer.screens.HomeScreenActivity.HomeScreenActivity"
                android:label="@string/title_activity_home_screen"
                android:screenOrientation="portrait"

        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


    </application>

</manifest>